<%= form_with(model: workout) do |f| %>
  <div class="border shadow-md mb-3 py-3 px-5 rounded-lg w-full">
    <% if workout.errors.any? %>
      <div class="bg-red-100 rounded-md mb-3 py-2 text-red-700 px-3">
        <i class="fa-solid fa-triangle-exclamation text-red-700 pr-1"></i>
        <%= workout.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>
    <div class="flex gap-4">
      <div class="flex-grow">
        <%= f.text_field :name, autofocus: true, placeholder: 'Name of your workout',
        id: 'Name', class: "border-gray-300 rounded-md h-12 w-full focus:border-blue-300 focus:ring-gray-100 focus:border-2" %>
      </div>
      <div>
        <%= link_to workouts_path do %>
          <i class="fa-solid fa-arrow-rotate-left fa-xl bg-gray-200 rounded-md p-3 hover:bg-gray-300"></i>
        <% end %>
      </div>
      <div>
        <%= turbo_frame_tag "workouts" do %>
          <%= button_tag type: 'submit', id: 'submit' do %>
            <i class="fa-solid fa-check text-white bg-green-600 p-3 fa-xl rounded-md hover:bg-green-500"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
