<%= link_to sanitize("&larr; Back to workouts"), workouts_path, class: "text-red-700 text-lg hover:text-red-600 mt-2" %>
<div class="flex justify-between my-4 py-3 items-center">
  <h1 class="text-4xl font-bold">
    <%= @workout.name %>
  </h1>
  <%= button_to "Add Day", workout_days_path(@workout, @day),
                data: { turbo_frame: dom_id(Day.new) },
                class: "bg-red-700 hover:bg-red-600 text-white text-lg font-semibold py-3 px-5 rounded-md" %>
</div>
<%= turbo_frame_tag Day.new %>
<%= turbo_frame_tag "days" do %>
  <%= render @days, workout: @workout %>
<% end %>
