
  <%= link_to sanitize("&larr; Back to workout"), workout_path(@workout) %>


    <h1>New day</h1>
  

  <%= form_with(model: [@workout, @day]) do |f| %>
  <% if @day.errors.any? %>
    <div class="error-message">
      <%= @day.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.text_field :title, autofocus: true %>
  <%= link_to "Cancel", workout_path(@workout), class: "" %>
  <%= f.submit class: "" %>
<% end %>
