<div class="flex flex-col items-center justify-center mt-10">
<h1 class="text-3xl font-semibold text-gray-700">Welcome back</h1>
<h2 class="text-sm text-gray-700 mb-4">Please enter your details</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="field">
    <%= f.label :email, class: "block text-gray-700 mb-1" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email", class: "border border-gray-300 p-2 rounded-md mb-4" %>
  </div>

  <div class="field">
    <%= f.label :password, class: "block text-gray-700 mb-1" %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Enter your password", class: "border border-gray-300 p-2 rounded-md mb-4" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class: "accent-red-700" %>
      <%= f.label :remember_me, class: "text-gray-700" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "bg-red-700 hover:bg-red-600 text-white text-lg py-1 rounded-md w-full my-3" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>

