<% @history_days.each do |day| %>
  <div class="border p-3 mt-3 rounded-md shadow-md">
    <div class="text-2xl font-semibold text-gray-700 pt-2"><%= day.date %></div>
    <% day.history_exercises.each do |exercise| %>
      <div class="text-xl font-semibold text-gray-700 py-2"><%= exercise.title %></div>
      <div class="grid bg-gray-200 border p-2 grid-cols-3 font-semibold text-gray-800 rounded-md">
        <div>SET</div>
        <div>WEIGHT</div>
        <div>RESP/ DIST</div>
      </div>
      <% exercise.history_sets.each do |history_set| %>
        <div class="grid grid-cols-3 px-2 font-medium text-gray-800">
          <div><%= history_set.exercise_set %> </div>
          <div><%= history_set.weight %> </div>
          <div><%= history_set.reps_dist %></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= button_to 'Delete', history_day_path(day), method: :delete,  data: { turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>
