<%= turbo_frame_tag exercise do %>
  <%= turbo_frame_tag dom_id(exercise, :edit) do %>
    <div class="flex justify-between mb-4 pt-3 items-center">
      <h1 class="text-3xl font-medium w-full"><%=  exercise.title %></h1>
      <div class="flex gap-2">
        <%= button_to [workout, day, exercise], id: 'delete_exercise', method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "bg-gray-200 py-2 px-3 rounded-md hover:bg-gray-300" do %>
          <i class="fa-regular fa-trash-can fa-xl"></i>
        <% end %>
        <%= link_to [:edit, workout, day, exercise], id: 'edit_exercise', class: "bg-gray-200 py-2 px-3 rounded-md hover:bg-gray-300" do %>
          <i class="fa-regular fa-pen-to-square fa-xl"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="border shadow-md rounded-lg mb-4 p-4">
    <div class="m-auto grid grid-cols-4 p-3 rounded-md bg-gray-200 font-medium">
      <div>SET</div>
      <div>WEIGHT</div>
      <div>REPS/ DIST</div>
      <div></div>
    </div>

    <%= turbo_frame_tag nested_dom_id(exercise, "exercise_sets") do %>
      <%= render exercise.exercise_sets, workout: workout, day: day, exercise: exercise %>
    <% end %>

    <%= turbo_frame_tag nested_dom_id(exercise, ExerciseSet.new) %>
    
    <div class="border border-dashed p-6 border-gray-400 text-center rounded-md mt-3">
      <%= link_to 'Add Set', [:new, workout, day, exercise, :exercise_set], data: { turbo_frame: nested_dom_id(exercise, ExerciseSet.new) }, class: "bg-red-700 hover:bg-red-600 text-white text-lg font-semibold py-3 px-5 rounded-md" %>
    </div>
  </div>
<% end %>
