<!DOCTYPE html>
<html>
  <head>
    <title>Built4Life</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>

    <nav class="flex justify-between border-b border-gray-300 shadow-md py-3 px-5 items-center">
      <div class="font-bold text-2xl">-<span class="text-red-700 text-3xl">||</span>-<span class="">Built</span>-<span class="">4</span>-<span class="">Life</span>-<span class="text-red-700 text-3xl">||</span>-</div>
      <% if user_signed_in? %>
        <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %>
      <% end %>
    </nav>

    <main class="container mx-auto mt-10 px-5">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>

  </body>
</html>
